:root {
  --notQWhite:rgb(255, 250, 241);
  --sandStone:rgb(255, 235, 199);
  --sandierStone: rgb(219, 189, 133);
  --redBrick:rgb(95, 36, 28);
  --redBlack:rgb(56, 20, 15);
  --shadow:rgba(73, 63, 63, 0.575);
}

body{
  background-color:var(--redBlack);
  padding: none;
  box-sizing: border-box;
  margin: 0;
  display:block;
  font-family:sans-serif;
}
.topBar {
  background-color:var(--redBrick);
  height: 2em;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}
.hero {
  background-color:var(--shadow);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  justify-content:center;
  padding: 15vh;
  color: var(--notQWhite);
}
.hero h1 {
  font-size: 13vh;
}
.hero h4 {
  font-size: 5vh;
  letter-spacing: .2em;
}
.testLense{
  width: 100%;
  height:fit-content;
  background-image: url(../img/pizza4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero h1,h4{
  justify-self: center;
}
.mainBody {
  background-color: var(--sandierStone);
  margin:  auto;
  width: 90%;
  box-sizing: border-box;
  padding: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns:3fr 2fr;
  gap: 2%;
}
#customizationBox {
  background-color: var(--sandStone);
  border-radius: .25em;
  padding:1em;
}
#customizationBox h2 {
  border-bottom: solid var(--shadow);
}
#pricingBox{
  background-color: var(--sandStone);
  border-radius: .25em;
  padding: 1em;
}

.styledRadioButton {
  height: 2em;
  width: 2em;
  border: .15em solid orange;
  margin-left:.1em;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.selected {
  width: 80%;
  height: 80%;
  background-color: red;
  border-radius: 50%;
  align-self: center;
  display:none;
}

.styledRadioButton input {
  display: none;
}

.styledRadioButton input:checked+ .selected {
  display: inline-block;
}
#form2 label{
  margin-top: .5em;
}

#form2 {
  display:grid;
  grid-template-columns:repeat(3,1fr);
}
#form2 h3 {
  justify-self: center;
}
ul {
  list-style-type: none;
}
li {
  font-weight: bold;
}