body{
  background-color:rgb(255, 17, 0);
  padding: none;
  box-sizing: border-box;
  margin: 0;
  display:block;
}
.topBar {
  background-color:rgb(179, 0, 0);
  height: 2em;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  background-color:rgb(255, 153, 0);
  margin: 0;
  box-sizing: border-box;
  display: grid;
  justify-content:center;
  padding: 3vh;
}
.hero h1,h4{
  justify-self: center;
}
.mainBody {
  background-color: rgb(255, 225, 168);
  margin:  auto;
  width: 90%;
  box-sizing: border-box;
  padding: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns:3fr 2fr;
  gap: 2%;
}
#customizationBox {
  background-color: rgb(255, 244, 225);
  border-radius: .25em;
}
#pricingBox{
  background-color: rgb(255, 244, 225);
  border-radius: .25em;
  padding: 1em;
}